Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
a = "shridhar"

In [2]:
type(a)

str

In [4]:
b =[1,2,3,4,5, "shridhar", "ram" , 45.12, 6+2j , True]

In [5]:
type(b)

list

In [6]:
c = 45.5625

In [7]:
type(c)

float

In [8]:
d = (1,2,3,4, "shri")

In [9]:
type(d)

tuple

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.

In [15]:
varl = ' '

In [16]:
type(varl)

str

In [17]:
var2 = '[ DS , ML , Python]'

In [18]:
type(var2)

str

In [21]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [22]:
type(var3)

list

In [23]:
var4 = 1.

In [24]:
type(var4)

float

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [ ]:
The division operator (/) in python is used to find the quotient when the first value is divided by the second value.

In [25]:
4/2

2.0

In [26]:
The modulus operator (%) in python is similar to the Division operator. But dissimilar to the division operator it returns the remainder when the first value is divided by the second value.

In [34]:
4%60

4

In [35]:
The // operator is applied to two numerical values first division will be performed and then the result obtained from the division will be rounded down to the nearest integer.

In [49]:
100//3

33

In [51]:
The exponential operator (**) in python is used to find the power of first value to the second value.

In [52]:
16**3

4096

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [54]:
l =[1,2,4,6,8, "shri" , "hp" , 124.545 , True , 4+56j]

In [60]:
for i in l:
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
4
<class 'int'>
6
<class 'int'>
8
<class 'str'>
shri
<class 'str'>
hp
<class 'float'>
124.545
<class 'bool'>
True
<class 'complex'>
(4+56j)

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [4]:
a=int(input())
b=int(input())
c=0
if (a/b==0):
    while(a/b>=b and type(a/b)==int):
        c+=1
        a/=b
    c
else:
    print("not divisible")

 12
 2

not divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [7]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1=[]
l2=[]
for i in l:
    if i%3==0:
        l1.append(i)
    else:
            l2.append(i)

In [8]:
l1

[3, 6, 9, 12, 15, 18, 21, 24]

In [9]:
l2

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

mutable An object that allows to change its values without changing its identity is a mutable object.
immutable:- an object that doesn't allow changes in its value is an immutable object.

In [13]:
e=[7,8,9,4,3]

In [14]:
e[1]=16

In [15]:
e

[7, 16, 9, 4, 3]

In [16]:
e=(7,8,9,4,3)

In [19]:
e[0]=10

TypeError: 'tuple' object does not support item assignment